
<!-- This is the project card component. It is used to display the project information. -->
<mat-card class="card-poject">
    <mat-card-header>
        <mat-card-subtitle>{{myName}}</mat-card-subtitle>
        <mat-card-title>{{projectName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ projectDescription }}</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Voir dans github</button>
        <button mat-button>Liker</button>
    </mat-card-actions>
</mat-card>

<!-- Path: src\app\components\project-card\project-card.component.ts -->

